# py -m venv venv will create a virtual environment in the /venv/ subdirectory
# pip install -r requirements.txt will install all packages in requirements.txt
# pip freeze > requirements.txt will freeze venv packages to requirements.txt
numpy==1.21.2
pandas==1.3.3
pyglet==1.5.21
pymunk==6.2.0